In [1]:
import pandas as pd
import numpy as np
#t provides support for large, multi-dimensional arrays and matrices, along with a collection of mathematical functions to operate on these arrays.
ser = pd.Series()

In [2]:
ser

Series([], dtype: object)

In [3]:
ser = pd.Series([0,10,20,30,40,50,60,70,80,90])
print(ser)

0     0
1    10
2    20
3    30
4    40
5    50
6    60
7    70
8    80
9    90
dtype: int64

In [4]:
ser = pd.Series([20,15.7,'10'])
print(ser)

0      20
1    15.7
2      10
dtype: object

In [5]:
ser1 = pd.Series([20,15.7])
print(ser1)

0    20.0
1    15.7
dtype: float64

In [6]:
dict = {'A':[1,2,3],'B':[4,5,6],'C':[7,8,9]}
df = pd.DataFrame(dict)
print(df)

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [7]:
dict = {'A':[1,2,3],'B':[4,5,6],'C':[7,8,9]}
df = pd.DataFrame(dict)
print(df)
df['State']="BR CG MP".split()
print(df)

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9
   A  B  C State
0  1  4  7    BR
1  2  5  8    CG
2  3  6  9    MP

In [8]:
dict = {'A':[1,2,3],'B':[4,5,6],'C':[7,8,9]}
df = pd.DataFrame(dict)
print(df)
df['State']="BR:CG:MP".split(':')
print(df)

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9
   A  B  C State
0  1  4  7    BR
1  2  5  8    CG
2  3  6  9    MP

In [9]:
#split: splits the data according to the seperator
#NAN
dict = {'A':[1,2,np.nan],'B':[4,5,np.nan],'C':[7,8,9]}
df = pd.DataFrame(dict)
print(df)

     A    B  C
0  1.0  4.0  7
1  2.0  5.0  8
2  NaN  NaN  9

In [10]:
df['D'] = [5,6,7]
print(df)

     A    B  C  D
0  1.0  4.0  7  5
1  2.0  5.0  8  6
2  NaN  NaN  9  7

In [11]:
#drop nan value from columns
print(df.dropna(axis=1))

   C  D
0  7  5
1  8  6
2  9  7

In [12]:
#drop from row
print(df.dropna(axis=0))

     A    B  C  D
0  1.0  4.0  7  5
1  2.0  5.0  8  6

In [13]:
#How to remove permanently? pls check
print(df)

     A    B  C  D
0  1.0  4.0  7  5
1  2.0  5.0  8  6
2  NaN  NaN  9  7

In [14]:
#filling NAN
print(df.fillna(value=90))

      A     B  C  D
0   1.0   4.0  7  5
1   2.0   5.0  8  6
2  90.0  90.0  9  7

In [15]:
print(df)

     A    B  C  D
0  1.0  4.0  7  5
1  2.0  5.0  8  6
2  NaN  NaN  9  7

In [16]:
#even fillna does not save permanently
#let's try to save permanently
df.fillna(value=df['C'].mean(),inplace=True) #we save our data for future
print(df)

     A    B  C  D
0  1.0  4.0  7  5
1  2.0  5.0  8  6
2  8.0  8.0  9  7

In [17]:
data = {'Comp':['goog','goog','msn','msn'],'sales':[10,20,30,15]}
df = pd.DataFrame(data)
bycomp = df.groupby('Comp')
print(bycomp.mean())

      sales
Comp
goog   15.0
msn    22.5

In [18]:
print(bycomp.sum())

      sales
Comp
goog     30
msn      45

In [19]:



df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3']})

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7']})

# Concatenating DataFrames row-wise
result_row = pd.concat([df1, df2], axis=0)
print("Row-wise Concatenation:\n", result_row)

Row-wise Concatenation:
     A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3
0  A4  B4
1  A5  B5
2  A6  B6
3  A7  B7

In [20]:

df3 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3']})

df4 = pd.DataFrame({'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']})

# Concatenating DataFrames column-wise
result_column = pd.concat([df3, df4], axis=1)
print("Column-wise Concatenation:\n", result_column)

Column-wise Concatenation:
     A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [21]:

df_left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})

df_right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                         'C': ['C0', 'C1', 'C2', 'C3'],
                         'D': ['D0', 'D1', 'D2', 'D3']})

# Merging DataFrames on 'key' column
result_merge = pd.merge(df_left, df_right, on='key')
print("Merging DataFrames:\n", result_merge)

Merging DataFrames:
   key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [22]:

df_left = pd.DataFrame({'key': ['K0', 'K1', 'K2'],
                        'A': ['A0', 'A1', 'A2']},
                       index=['K0', 'K1', 'K2'])

df_right = pd.DataFrame({'key': ['K1', 'K2', 'K3'],
                         'B': ['B1', 'B2', 'B3']},
                        index=['K1', 'K2', 'K3'])

# Joining DataFrames with how='outer'
result_outer_join = df_left.join(df_right, how='outer', lsuffix='_left', rsuffix='_right')
print("Outer Join:\n", result_outer_join)

Outer Join:
    key_left    A key_right    B
K0       K0   A0       NaN  NaN
K1       K1   A1        K1   B1
K2       K2   A2        K2   B2
K3      NaN  NaN        K3   B3